
head {
	height: 250px;
	width: 989px;
	background-color: #FFFFFF;
	color: #000;
	text-align: center;
}

body {
    	font-family: Verdana, Helvetica, sans-serif;
    	background-color: #DDDDDD;
	font-family: Arial, Helvetica, Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 1.5em;
	color:#333333;
}

TopNav {
	font-family: Verdana, Helvetica, sans-serif;
	background-color: #111111;
}	

container {
	height: 768px;
	width: 1024px;
	margin-right: auto;
	margin-left: auto;
}

main1 {
	height: 224px;
	width: 1024px;
}

main1 content1 {
	height: 50px;
	width: 160px;
	float: left;
	padding-left: 100px;
	overflow: hidden;
	background-color: #936;
}
main1 content2 {
	height: 50px;
	width: 160px;
	float: left;
	padding-left: 260px;
	overflow: hidden;
	background-color: #939;
	word-spacing: normal;
	line-height: 1.4em;
}

main1 content3 {
	height: 50px;
	width: 160px;
	float: left;
	padding-left: 420px;
	overflow: hidden;
	background-color: #939;
	word-spacing: normal;
	line-height: 1.4em;
}

main1 content4 {
	height: 50px;
	width: 160px;
	float: left;
	padding-left: 580px;
	overflow: hidden;
	background-color: #939;
	word-spacing: normal;
	line-height: 1.4em;
}

main1 content5 {
	height: 50px;
	width: 160px;
	float: left;
	padding-left: 740px;
	overflow: hidden;
	background-color: #939;
	word-spacing: normal;
	line-height: 1.4em;
}
main2 {
	height: 224px;
	width: 1024px
}

h1 {
	font-family: "Courier New", Courier, monospace;
	font-size: 4.5em;
}

h2 {
	font-size: 1.75em;
}
