
head {
	height: 250;
	width: 989;
	background-color: #FFFFFF;
	color: #000;
	text-align: center;
}

body {
    	font-family: Verdana, Helvetica, sans-serif;
    	background-color: #DDDDDD;
	font-family: Arial, Helvetica, Arial, Helvetica, sans-serif;
	font-size: 14;
	line-height: 1.5;
	color:#333333;
}

TopNav {
	font-family: Verdana, Helvetica, sans-serif;
	background-color: #111111;
}	

container {
	height: 768cm;
	width: 1024cm;
	margin-right: auto;
	margin-left: auto;
}

main1 {
	height: 224cm;
	width: 1024cm;
	background-color: #FF0000;
}

main1 content1 {
	height: 50cm;
	width: 160cm;
	float: left;
	padding-left: 100;
	overflow: hidden;
	background-color: #0099FF;
}
main1 content2 {
	height: 50;
	width: 160;
	float: left;
	padding-left: 260;
	overflow: hidden;
	background-color: #939;
	word-spacing: normal;
	line-height: 1.4em;
}

main1 content3 {
	height: 50;
	width: 160;
	float: left;
	padding-left: 420;
	overflow: hidden;
	background-color: #939;
	word-spacing: normal;
	line-height: 1.4;
}

main1 content4 {
	height: 50;
	width: 160;
	float: left;
	padding-left: 580;
	overflow: hidden;
	background-color: #939;
	word-spacing: normal;
	line-height: 1.4;
}

main1 content5 {
	height: 50;
	width: 160;
	float: left;
	padding-left: 740;
	overflow: hidden;
	background-color: #939;
	word-spacing: normal;
	line-height: 1.4;
}
main2 {
	height: 224;
	width: 1024;
}

h1 {
	font-family: "Courier New", Courier, monospace;
	font-size: 4.5;
}

h2 {
	font-size: 1.75;
}
